<div class="center jumbotron">
  <h1>Crowds on Wall Street</h1>
  <h2>Extracting Value from Collaborative Investing Platforms</h2>
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">
      <%= form_tag stocks_path, method:'get' do %>
        <%= text_field_tag :search, nil, placeholder: 'AAPL, GOOG, etc.'%>
        <%= submit_tag "Stock Sentiment", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
  </div>
  <div><h2> 
    Investment Strategy based on SeekingAlpha ( 
    <%= link_to "30-stock", topstrategy_path %> / <%= link_to "500-stock", strategy_path %>
     portfolio ) 
     <!--<a class="glyphicon glyphicon-question-sign" aria-hidden="true" href="help"></a>-->
  </h2>
  </div>
</div>

<div class="lead left text-justify">  <font size="4">
  This site is the homepage for the research project using crowdsourcing for stock investment, by <a href="http://sandlab.cs.ucsb.edu">SAND Lab</a> in University of California, Santa Barbara. Here, you can find explanations and links to <a href="help"> our paper</a>, a tool to query real-time crowdsourced sentiments about given stocks, and a <%= link_to "live simulation",   strategy_path %> of sentiment-driven stock trading. </font>
</div>

